{% extends 'base.html.twig' %}

{% block title %}Process{% endblock %}

{% block body %}
    <h1>Process</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ process.id }}</td>
            </tr>
            <tr>
                <th>StartDate</th>
                <td>{{ process.startDate ? process.startDate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>EndDate</th>
                <td>{{ process.endDate ? process.endDate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ process.Description }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_process_index') }}">back to list</a>

    <a href="{{ path('app_process_edit', {'id': process.id}) }}">edit</a>

    {{ include('process/_delete_form.html.twig') }}
{% endblock %}
